<div class="Contenedor-card">
  <div class="card-header">
    <div class="info-section flex-column">
      <h3 class="celebrante-name">{{eventObj.nombre_c}}</h3>
      <span class="tipo-badge" [ngClass]="'badge-' + eventObj.tipo.toLowerCase().replaceAll(' ', '-')">
        {{eventObj.tipo}}
      </span>
    </div>
    
    <div class="time-info">
      <mat-icon class="icon-time">schedule</mat-icon>
      <span>{{eventObj.fecha_inicio}} Hrs </span>
    </div>
  </div>

  <div class="card-actions">
    
    @if (eventObj.tipo != "Parroquial") {
        <button class="action-btn accept-btn" matTooltip="Marcar Asistencia" (click)="AbrirModal('check')">
            <mat-icon>check</mat-icon>
        </button>
        <button class="action-btn reject-btn" matTooltip="Marcar No Asistencia" (click)="AbrirModal('noasist')">
            <mat-icon>close</mat-icon>
        </button>
    }
    @if (eventObj.evidencia != null && eventObj.tipo != "Parroquial") {
        <button class="action-btn view-btn" matTooltip="Ver evidencia" (click)="AbrirModal('ver_evidencia')">
            <mat-icon>visibility</mat-icon>
        </button>
    }

    @if(eventObj.status == "P" && eventObj.tipo!="Parroquial"){
        <button class="action-btn reschedule-btn" matTooltip="Pedir Reagendación" >
            <mat-icon>event_repeat</mat-icon>
        </button>
    }
    @if(eventObj.tipo =="Parroquial"){
        <button class="action-btn reschedule-btn" matTooltip="Marcar como realizado" >
            <mat-icon>event_repeat</mat-icon>
        </button>
    }
    

    @if(eventObj.tipo =="Parroquial"){
        <button class="action-btn reschedule-btn" matTooltip="Editar" >
            <mat-icon>event_repeat</mat-icon>
        </button>
    }
    
    @if(eventObj.tipo =="Parroquial"){
        <button class="action-btn reschedule-btn" matTooltip="Eliminar" >
            <mat-icon>event_repeat</mat-icon>
        </button>
    }

    
  </div>
</div>