<div class="Contenedor-card">
  <div class="card-header">
    <div class="info-section flex-column">
      <h3 class="celebrante-name">{{eventObj.nombre_c}}</h3>
      <span class="folio-badge">
       Folio: {{eventObj.folio}}
      </span>
      <span class="tipo-badge" [ngClass]="'badge-' + eventObj.tipo.toLowerCase().replaceAll(' ', '-')">
        {{eventObj.tipo}}
      </span>
      
    </div>
    
    @if (eventObj.status != "R") {
        <div class="time-info">
            <mat-icon class="icon-time">schedule</mat-icon>
            <span>{{fechaDisplay}} - {{fechaFinDisplay}} Hrs</span>
        </div>
    }
    
  </div>
  @if(eventObj.status != "R"){
    <div class="card-actions">
        
        @if (eventObj.tipo != "Parroquial") {
        <button class="action-btn accept-btn" matTooltip="Marcar Asistencia" (click)="AbrirModal('check')">
            <mat-icon>check</mat-icon>
        </button>
        
        <button class="action-btn reject-btn" matTooltip="Marcar No Asistencia" (click)="ChangeStatusEvent('N')">
            <mat-icon>close</mat-icon>
        </button>
        
        @if (tieneEvidencia) {
            <button class="action-btn view-btn" 
                    matTooltip="Ver evidencia" 
                    (click)="AbrirModal('ver_evidencia')">
            <mat-icon>visibility</mat-icon>
            </button>
        }
        
        @if (eventObj.status == "P") {
            <button class="action-btn reschedule-btn" 
                    matTooltip="Pedir Reagendación" 
                    (click)="ChangeStatusEvent('R')">
            <mat-icon>event_repeat</mat-icon>
            </button>
        }
        }

        <!-- Acciones para eventos parroquiales -->
        @if (eventObj.tipo == "Parroquial") {
        <button class="action-btn accept-btn" matTooltip="Marcar como realizado" (click)="MarcarHecho()">
            <mat-icon>check</mat-icon>
        </button>
        
        <button class="action-btn edit-btn" matTooltip="Editar" [routerLink]="['/admin/eventos/parroquial', eventObj.id_evento]">
            <mat-icon>edit</mat-icon>
        </button>
        
        <button class="action-btn reject-btn" matTooltip="Eliminar" (click)="Delete()">
            <mat-icon>delete</mat-icon>
        </button>
        }
    </div>
    }
</div>