<section class="login-body">
    <aside class="side-form">
        <form class="form" [formGroup]="restore_form" (submit)="Change_password()">
            <h1>Restauracion de Contraseña</h1>
            <label class="Campo">
                <h4>Correo Electronico</h4>
                <input type="email" class="Input" placeholder="Correo@dominio.com" formControlName="correo">
                @if (correo.hasError("required") && correo.touched) {
                    <p class="error">Ingrese su correo</p>
                }@else if (correo.hasError("pattern") && correo.touched) {
                    <p class="error">Correo Invalido</p>
                }
            </label>

            <label class="Campo">
                <h4>Codigo</h4>
                <div class="contenedor-code">
                    <input type="number" class="Input code" formControlName="code" oninput="if(this.value.length > 6) this.value = this.value.slice(0, 6);"
                     onkeydown="return event.key !== 'e' && event.key !== 'E' && event.key !== '+' && event.key !== '-';">
                    <button class="code-button" [disabled]="restore_form.get('correo')?.invalid" (click)="Send_code()">{{ text_codebtn }} </button>
                </div>
                

            </label>


            <label class="Campo">
                <h4>Contraseña</h4>      
                <div class="contenedor-password">
                    <input [type]="show_pass ? 'text' : 'password'" class="Input password" placeholder="Contraseña" formControlName="contrasena" autocomplete="off">
                    <span class="contenedor-eye" (click)="Visibility_Password()"><img [src]="show_pass ? 'icons/openeye.svg' : 'icons/eye.svg'" class="eye" alt="mostrar Contraseña"></span>
                </div>
                @if (contrasena.hasError("required") && contrasena.touched ) {
                    <p class="error">Ingrese una contraseña</p>
                }@else if ((contrasena.hasError("minlength") || contrasena.hasError("maxlength")) && contrasena.touched) {
                    <p class="error">La contraseña debe contener minimo 8 caracteres y maximo 25</p>
                }@else if (contrasena.hasError("pattern") && contrasena.touched) {
                    <p class="error">La contraseña debe contener una mayuscula,minuscula y un numero</p>
                }
            </label>

            <div class="Buttons">
                <button class="button" [disabled]="restore_form.invalid">Continuar</button>
            </div>
            
        </form>
        
    </aside>
    <app-auth-side-decoration size="small"></app-auth-side-decoration>
</section>