hr{
    margin-block: 10px;
    height: 3px;
    background-color: var(--color-lines);
    border: none;
}

.contenido{
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.campos{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.resumen{
    color: var(--color-principal-darker);
    background-color: var(--resume-content);
    outline: 2px solid var(--resume-border);
    padding: 20px;
}