<main>
    <app-header-form [titulo]="'Metodo de pago'" [icono]="'icons/card.svg'" [descripcion]="'Ingrese los datos de su tarjeta de credito o debito'"></app-header-form>
    <hr>
    <form [formGroup]="formPago" class="contenido flex-column">
        <div class="campos">    
            <label>
                <h4>Numero de tarjeta</h4>
                <input type="text" formControlName="numero" class="Input" inputmode="numeric" maxlength="16" pattern="\d{16}" >
            </label>

            <label>
                <h4>Fecha de caducidad</h4>
                <input type="month" class="Input" formControlName="fecha">
            </label>

            <label>
                <h4>CVV</h4>
                <input type="text" class="Input" formControlName="cvv" inputmode="numeric" maxlength="3" pattern="\d{3}" >
            </label>

        </div>

        <div class="resumen">
            <h3>Total a pagar:</h3>
            <h2>$ {{ precio }}</h2>
        </div>
        
    </form>

    <div class="buttons">
        <button type="button" class="two-button" (click)="prev()">Volver</button> 
        <button type="button" class="button" (click)="next()" [disabled]="formPago.invalid">Continuar</button> 
    </div>
</main>
