.card{
    gap: 8px;
    font-size: 15px;
    padding: .5rem;
    width: auto;
    border: 2px solid var(--color-lines);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card p{
    font-size: 13.28px;
}

.fecha_hora{
    gap:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img{
    height: 20px;
}

h4{
    font-size: 16px;
}

h5{
    font-weight:normal;
}

@media (max-width:350px){
    .card{
        
        width: fit-content;
    }
}