<div class="contenedor carding flex-column">
    <div class="Description flex-column">
        <h2>{{descripcion}}</h2>
        <span class="tipo-badge" [ngClass]="'event-type-' + tipo.toLowerCase().replaceAll(' ', '-')">
            {{tipo}}
        </span>
    </div>
    
    <div class="ListDocs flex-column">
        @for (d of docs; track $index) {
            <div class="Doc flex">
                {{d.descripcion}}
                <div class="docEstado flex" [ngClass]="{'estado-pendiente': d.status === 'Pendiente',
                'estado-aceptado': d.status === 'Aceptado','estado-rechazado': d.status === 'Rechazado'}">
                    {{d.status}}
                    @if(d.status == "Aceptado"){
                        <mat-icon> check</mat-icon>
                    }@else if (d.status == "Pendiente") {
                        <mat-icon>query_builder</mat-icon>
                    }@else if(d.status == "Rechazado") {
                        <mat-icon>close</mat-icon>
                    }
                    
                </div>
            </div>
            
        }
        

    </div>
    @if (rejectedFile.length > 0) {
        <button class="red-button flex" (click)="ShowRejected()">
            <mat-icon>description</mat-icon>
            Ver Archivos
        </button>
    }
    

    
</div>