.contenedor{
    padding-block: 20px;
    padding-inline: 25px;
    gap: 20px;
}

.ListDocs{
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: none; 
    gap: 13px;
}

.ListDocs::-webkit-scrollbar {
    display: none;
}

.Doc{
    align-items: center;
    justify-content: space-between;
}

.docEstado{
    width: 90px;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 3px;
}

.estado-pendiente{
    background-color: var(--pendient-background);
    color: var(--pendient-letter);
    border: 1px solid var(--pendient-letter);
    border-radius: 10px;
}

.estado-aceptado{
    background-color: var(--accept-background);
    color: var(--accept-letter);
    border: 1px solid var(--accept-letter);
    border-radius: 10px;
}

.estado-rechazado{
    background-color: var(--refused-background);
    color: var(--refused-letter);
    border: 1px solid var(--refused-letter);
    border-radius: 10px;
}

.docEstado mat-icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.Description{
    gap: 10px;
}

/* Contenedor de botones */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.buttons-container button {
    width: 100%;
    padding: 12px;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}

.buttons-container button mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}



/* Responsive para botones */
@media (min-width: 768px) {
    .buttons-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .buttons-container button {
        flex: 1;
        min-width: 150px;
    }
}

.event-type-Bautizo { 
    border-color: #6366f1;
}

.event-type-Confirmacion { 
    border-color: #1F734F;
}

.event-type-Primera-Comunion { 
    border-color: #742FD3;
}

.event-type-Matrimonio { 
    border-color: #EF4444;
}

.event-type-XV-Años { 
    border-color: #EC4899;
}

.tipo-badge {
    padding: 6px 16px;
    background: white;
    border: 1.5px solid;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    max-width: fit-content;
}

.tipo-badge.event-type-bautizo {
    color: #6366f1;
    border-color: #6366f1;
}

.tipo-badge.event-type-confirmacion {
    color: #1F734F;
    border-color: #1F734F;
}

.tipo-badge.event-type-primera-comunion {
    color: #742FD3;
    border-color: #742FD3;
}

.tipo-badge.event-type-matrimonio {
    color: #EF4444;
    border-color: #EF4444;
}

.tipo-badge.event-type-XV-Años {
    color: #EC4899;
    border-color: #EC4899;
}   