<main class="contenedor-home">

    <div class="church">
        <section class="contenedor-cards-eventos" [class.void_events]="errors_Exists" [class.loading]="isloading">
            <span><img src="icons/calendary_blue.svg" alt=""><h3>Proximos Eventos</h3></span>
            
            <div class="cards" >
                @if (isloading) {
                    <p>Cargando eventos...</p>
                }
                @if (errors_Exists) {
                    <div class="No_events flex-column">
                        <h4>Error al cargar eventos</h4>
                    </div>
                }
                
                @if (!isloading && !errors_Exists && eventList.length > 0) {
                    @for (event of eventList; track $index) {
                        <app-home-event-cards 
                            [evento]="event.evento" 
                            [fecha]="event.date" 
                            [hora]="event.hour">
                        </app-home-event-cards>
                    }
                }
                
                @if (!isloading && !errors_Exists && eventList.length === 0) {
                    <div class="No_events flex-column">
                        <h4>No hay Eventos Planificados</h4>
                    </div>
                }
                
            </div>
        </section>

        <section class="horarios">
            <h4>Lunes a Sabado</h4>
            <h5>6:00 PM</h5>
            <hr>
            <h4>Domingo</h4>
            <h5>7:00 AM • 9:00 AM • 12:00 PM • 1:00 PM • 6:00 PM • 7:00 PM</h5>
        </section>
    </div>
    

    <div class="Publications">
        <section class="search">
            <div class="contenedor-search">
                <span class="contenedor-lupa"><img src="icons/lupa.svg" class="lupa" alt="Buscar"></span>
                    <input type="search" 
                    [(ngModel)]="searchText" 
                    (ngModelChange)="searchSubject.next($event)"
                    [readonly]="isSearching"
                    placeholder="Buscar..." 
                    class="input-search"/>

            </div>
            @if (searchText) {
                <div class="search-results-info">
                    @if (isSearching) {
                        <p>Buscando...</p>
                    }
                </div>
            }
        </section>

        
        <section class="contenedor-publicacion">
            @let publicList = (publicList$ | async);
            @if (publicList && publicList.length > 0) {
                @for (public of publicList; track $index) {
                    <app-publications 
                        [titulo]="public.titulo" 
                        [date]="public.date" 
                        [image]="public.img" 
                        [contenido]="public.contenido">
                    </app-publications>    
                }
            } @else if (!isSearching && searchText) {
                <div class="no-results">
                    <h3>No hay resultados para <br> "{{ searchText }}"</h3>
                </div>
            }
        </section>
    </div>
    
</main>