<header class="header">
    <div class="img_logo">
        <img src="../img/logo.png" alt="Nuestra Señora del Rosario" class="logo" (click)="logout()">
    </div>
    <div class="Items" id="items" #items>
        <div class="User-options">
        @if(isauth === true){
            <a routerLink="/" class="options"><img src="../icons/inicio.svg" class="icons" alt=""><span>Inicio</span></a>
            <a routerLink="/eventos/ver" class="options"><img src="../icons/calendary_white.svg" class="icons" alt=""><span>Eventos</span></a>
            <a routerLink="/profile" class="options"><img src="../icons/profile.svg" class="icons" alt=""><span>Perfil</span></a>
        }
        </div>
        @if (isauth===false) {
            <div class="Nologin-options">
                <a routerLink="/" class="options"><img src="../icons/inicio.svg" class="icons" alt=""><span>Inicio</span></a>
                <a routerLink="/auth/login" class="options"> <img src="../icons/login.svg" class="icons" alt=""><span>Iniciar Sesion</span></a>
                <a routerLink="/auth/register" class="options"><img src="../icons/register.svg" class="icons" alt=""><span>Registrarse</span></a>
            </div>   
        }
        
    </div>  
    @if (isauth===true) {
        <div class="Notif">
            <img src="../icons/notification.svg" alt="Notificaciones" class="icons">   
        </div>
    }
    <div class="nav_toggle" #toggle (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
        
    </div>
</header>
