.header{
    background-color: var(--color-principal);   
    font-weight: 550;
    
    width: 100%;
    box-sizing: border-box;
    height: 3.75rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.logo{
    height: 3rem;
    margin-left: 2rem;
}

.notif{
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.Another-options, .Select-Options{
    display: flex;
    align-items: center;
}

.options:hover{
    background-color: var(--color-hover-options);
    border-radius: 10px;
}

.options {
    font-size: var(--size-header-options);
    color:var(--color-option);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-inline:7px;
    padding-block: 0.313rem;
    margin-inline: 20px;
    gap: .4rem;
}

.Another-options .options{
    border: 2px solid var(--color-hover-options);
    border-radius: .313rem;
}

.hide{
    display: none;
}


@media (max-width:570px) {
    .logo{
        margin-left: 1.2rem;
    }
    .options span{
        display: none;
    }

    .options{
        margin-inline: 10px;
    }

    .notif{
        margin-left: 1rem;
        margin-right: 1.2rem;
    }
}