.decoration{
    border-block:2px solid var(--color-lines2);
    background-color: var(--color-principal);    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.decoration img{
    margin-top: 3rem;
    width: 65%;
}

.decoration.small{
    height: 100vh;
}

.decoration.big{
    height:130vh
}








