.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    
}

.cards{
    overflow-y: auto;
    overflow-x: hidden;
    gap: 15px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

hr{
    margin-block: 10px;
    height: 3px;
    background-color: var(--color-lines);
    border: none;
}



.buttons{
    margin-top: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
}