<app-header-form [titulo]="'Documentos'" [icono]="'../icons/documents.svg'" [descripcion]="'Suba los documentos requeridos para el sacramento'"></app-header-form>
<hr>
<form action="" class="form">    
    <section class="cards">
        @for (file of fileList; track $index) {   
            <app-document-upload 
                [id]="$index" 
                [archivoreal]="uploadDocs[$index].files[0]!" 
                [tipo]="file" 
                (archivo)="SaveFile($event, $index)">
            </app-document-upload>
        }
    </section>
</form>