.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    outline:2px solid var(--color-lines);
}

.two-button{
    
    display: flex;
    gap: 10px;
    align-items: center;
    padding:10px;
    
    max-width: fit-content;
}

.icon{
    height: 20px;
    width: 20px;
    
}

.filebutton{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.filename{
    font-size: 14px;
    color: var(--color-principal-button);
}