@if (isOpen) {
    <div class="modal-overlay" (click)="closeModal()">
        <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2>{{ title }}</h2>
            <button class="close-btn" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <ng-content></ng-content>
        </div>
        @if (showFooter) {
            <div class="modal-footer">
            @if (showConfirmButton) {
                <button class="button" (click)="onConfirm()" [disabled]="disableConfirm">
                {{ confirmText }}
                </button>
            }
            </div>
        }
        </div>
    </div>
}