body{
    display: flex;
    flex-direction: row;
}

app-auth-side-decoration{
    visibility: hidden;
    width: 0%;
}


.Form{
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
}


@media(min-width:650px){
    app-auth-side-decoration{
        visibility: visible;
        height: 100vh;
    }

    .Form,app-auth-side-decoration{
        width: 50%;
    }
}