.background{
    background-color: var(--color-background);
    padding-block: 3.75rem;
    margin-bottom: 20px;
    padding-inline: 5rem;
    height: 100vh;
    justify-content: center;
    height: fit-content;
}

.Contenedor{
    padding: 30px;
    width: 90%;
    height: fit-content;
    max-width:1500px;
    background-color: #FFFF;
    border: 2px solid var(--color-lines);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}


@media (max-width:700px){
    .background{
        padding-block: 2rem;
        padding-inline: 2rem;
    }
}

@media (max-width:450px){
    .background{
        padding-block: 1rem;
        padding-inline: 1rem;
    }
    .Contenedor{
        max-width: 300px;
        padding: 15px;
    }
}