<main class="background flex">
    <section class="Contenedor">
        @if (eventoId === 4) {
            @if (step === 0) {
                <app-form-matrimonio></app-form-matrimonio>
            } @else if (step === 1) {
                <app-form-padres-matrimonio></app-form-padres-matrimonio>
            } @else if (step === 2) {
                <app-form-padrinos-matrimonio></app-form-padrinos-matrimonio>
            } @else if (step === 3) {
                <app-form-documents [id_event]="eventoId"></app-form-documents>
            } @else if (step === 4) {
                <app-form-date [id_event]="eventoId"></app-form-date>
            } @else if (step === 5) {
                <app-form-pay [id_event]="eventoId"></app-form-pay>
            }
        } @else {
            @if (step === 0) {
                @if (eventoId == 1) {
                    <app-form-bautizo></app-form-bautizo>
                } @else if (eventoId == 3 || eventoId == 7) {
                    <app-form-con-prim [id_event]="eventoId"></app-form-con-prim>
                } @else if (eventoId == 5) {
                    <p>XV</p>
                }
            } @else if (step === 1) {
                <app-form-padres></app-form-padres>
            } @else if (step === 2) {
                <app-form-documents [id_event]="eventoId"></app-form-documents>
            } @else if (step === 3) {
                <app-form-date [id_event]="eventoId"></app-form-date>
            } @else if (step === 4) {
                <app-form-pay [id_event]="eventoId"></app-form-pay>
            }
        }

        <div class="navigation-buttons">
            @if (step > 0) {
                <button class="two-button btn-prev" (click)="prevStep()">
                    <mat-icon>arrow_back</mat-icon>
                    Volver
                </button>
            }
            
            <button class="button btn-next" (click)="nextStep()" [disabled]="!canGoNext()">
                {{ (eventoId === 4 && step === 5) || (eventoId !== 4 && step === 4) ? 'Finalizar' : 'Continuar' }}
                @if ((eventoId === 4 && step < 5) || (eventoId !== 4 && step < 4)) {
                    <mat-icon>arrow_forward</mat-icon>
                }
            </button>
        </div>
    </section>
</main>