.body{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    padding-block: 30px;
    align-items: center;
}

header{
    text-align: center;
    color: var(--color-principal);
    margin-bottom: 30px;
}
.sub{
    font-size: 1.5rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    
    gap:20px;
    width: 90%;

}

app-event-info-card{
    width: 100%;
    
}


@media (max-width:1230px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:820px){
    .cards{
        grid-template-columns: 400px;
        justify-content: center;
    }
}

@media(max-width:450px){
    .cards{
        grid-template-columns: 300px;
        justify-content: center;
    }
}