.body{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    padding-block: 30px;
}

header{
    text-align: center;
    color: var(--color-principal);
    margin-bottom: 30px;
}
.sub{
    font-size: 1.5rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap:20px;

}

app-event-info-card{
    width: 400px;
}


@media (max-width:1230px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:820px){
    .cards{
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px){
    app-event-info-card{
        width: 300px;
    }
}