
<div class="Contenedor carding flex-column">
    <div class="events-filter">
        <button class="filter-btn" [class.active]="activeFilter === 'proximos'" (click)="changeFilter('proximos')">
            Próximos Eventos
        </button>
        <button class="filter-btn" [class.active]="activeFilter === 'pasados'" (click)="changeFilter('pasados')">
            Eventos Pasados
        </button>
    </div>
    <div class="events-container">
        @if (activeFilter === 'proximos') {
            @for (evento of proxEvents$ | async; track evento.id_evento) {
                <app-card-events 
                [eventInfo]="evento"
                >
                </app-card-events>
            }
            
            @if ((proxEvents$ | async)?.length === 0) {
                <div class="empty-state">
                <mat-icon>event_busy</mat-icon>
                <p>No hay próximos eventos programados</p>
                </div>
            }
        } @else {
        <!-- Eventos pasados -->
        @for (evento of pastEvents$ | async; track evento.id_evento) {
            <app-card-events 
            [eventInfo]="evento">
            </app-card-events>
        }
        
        @if ((pastEvents$ | async)?.length === 0) {
            <div class="empty-state">
            <mat-icon>history</mat-icon>
            <p>No hay eventos pasados</p>
            </div>
        }
        }
    </div>
</div>