header{
    color: var(--color-principal);
    display: flex;
    padding-block: 5px;
    gap: 10px;
}

header h4{
    font-weight: normal;
}

.icono {
  width: 55px;            /* tamaño del círculo */
  height: 55px;
  background-color: #D9EEFF; /* color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;   /* Mantiene la proporción cuadrada */
  border-radius: 50%;
  
}

.icono img {
  width: 44px;  /* ajusta el tamaño de la imagen */
  height: 44px;
}


@media (max-width:420px){
  h1{
    font-size: 23px !important;
  }
}