<section class="login-body">
    <aside class="side-form">
        <form class="form" [formGroup]="login_form" (submit)="Submit()">
            <h1>Iniciar Sesion</h1>
            <label class="Campo">
                <h4>Correo Electronico</h4>
                <input type="email" class="Input" placeholder="Correo@dominio.com" formControlName="correo">
                @if (correo.hasError("required") && correo.touched) {
                    <p class="error">Ingrese su correo</p>
                }
            </label>

            <label class="Campo">
                <h4>Contraseña</h4>
                
                <div class="contenedor-password">
                    <input [type]="show_password ? 'text' : 'password'" class="Input password" placeholder="Contraseña" formControlName="contrasena" autocomplete="off">
                    <span class="contenedor-eye" (click)="Visibility_Password()"><img [src]="show_password ? 'icons/openeye.svg' : 'icons/eye.svg'" class="eye" alt="mostrar Contraseña"></span>
                </div>
                @if (contrasena.hasError("required") && contrasena.touched ) {
                    <p class="error">Ingrese una contraseña</p>
                }
            </label>
            <hr>

            <div class="Buttons">
                <button class="button" [disabled]="login_form.invalid">Iniciar Sesion</button>
                <button class="two-button" routerLink="/auth/register">Registrarse</button>
                <a routerLink="/auth/restore" class="three-button">¿Has olvidado tu Contraseña?</a>
                
            </div>
                    
        </form>
    </aside>
    <app-auth-side-decoration size="small"></app-auth-side-decoration>
    
</section>

