<app-header-form [titulo]="'Datos de los Novios'" [descripcion]="'Ingrese la información personal del novio y la novia'" [icono]="'../icons/sacramentos/la_ring.svg'"></app-header-form>

<hr>

<form [formGroup]="form" class="form">    
    <div class="novios">
        <h2>Novio</h2>
        <section class="inputs">
            <span class="Campo">
                <h4>Nombres</h4>
                <input type="text" formControlName="nombres_novio" class="Input" placeholder="Nombres" maxlength="50"
                (input)="onlyLetters($event)">
                @if (form.get('nombres_novio')?.invalid && form.get('nombres_novio')?.touched) {
                    <div class="error">
                        <span>El nombre del novio es requerido</span>
                    </div>
                }
            </span>

            <span class="Campo">
                <h4>Apellido Paterno</h4>
                <input type="text" formControlName="ap_pat_novio" class="Input" placeholder="Apellido paterno" maxlength="50"
                (input)="onlyLetters($event)">
                @if (form.get('ap_pat_novio')?.invalid && form.get('ap_pat_novio')?.touched) {
                    <div class="error">
                        <span>El apellido paterno del novio es requerido</span>
                    </div>
                }
            </span>

            <span class="Campo">
                <h4>Apellido Materno</h4>
                <input type="text" formControlName="ap_mat_novio" class="Input" placeholder="Apellido materno" maxlength="50"
                (input)="onlyLetters($event)">
            </span>

            <span class="Campo down">
                <h4>Fecha de Nacimiento</h4>
                <input type="date" class="Input" formControlName="fecha_nac_novio">
                @if (form.get('fecha_nac_novio')?.invalid && form.get('fecha_nac_novio')?.touched) {
                    <span class="error">
                        Seleccione una fecha
                    </span>
                }
            </span>

            <span class="Campo down">
                <h4>Edad</h4>
                <input type="number" class="Input" placeholder="Edad" formControlName="edad_novio" readonly>
                @if (form.get('fecha_nac_novio')?.hasError('edadMinima')) {
                    <span class="error">
                        La edad mínima debe ser de {{ form.get('fecha_nac_novio')?.getError('edadMinima').requiredAge }} años.
                    </span>
                }
            </span>
        </section>
    </div>

    <div class="novios">
        <h2>Novia</h2>
        <section class="inputs">
            <span class="Campo">
                <h4>Nombres</h4>
                <input type="text" formControlName="nombres_novia" class="Input" placeholder="Nombres" maxlength="50"
                (input)="onlyLetters($event)">
                @if (form.get('nombres_novia')?.invalid && form.get('nombres_novia')?.touched) {
                    <div class="error">
                        <span>El nombre de la novia es requerido</span>
                    </div>
                }
            </span>

            <span class="Campo">
                <h4>Apellido Paterno</h4>
                <input type="text" formControlName="ap_pat_novia" class="Input" placeholder="Apellido paterno" maxlength="50"
                (input)="onlyLetters($event)">
                @if (form.get('ap_pat_novia')?.invalid && form.get('ap_pat_novia')?.touched) {
                    <div class="error">
                        <span>El apellido paterno de la novia es requerido</span>
                    </div>
                }
            </span>

            <span class="Campo">
                <h4>Apellido Materno</h4>
                <input type="text" formControlName="ap_mat_novia" class="Input" placeholder="Apellido materno" maxlength="50"
                (input)="onlyLetters($event)">
            </span>

            <span class="Campo down">
                <h4>Fecha de Nacimiento</h4>
                <input type="date" class="Input" formControlName="fecha_nac_novia">
                @if (form.get('fecha_nac_novia')?.invalid && form.get('fecha_nac_novia')?.touched) {
                    <span class="error">
                        Seleccione una fecha
                    </span>
                }
            </span>

            <span class="Campo down">
                <h4>Edad</h4>
                <input type="number" class="Input" placeholder="Edad" formControlName="edad_novia" readonly>
                @if (form.get('fecha_nac_novia')?.hasError('edadMinima')) {
                    <span class="error">
                        La edad mínima debe ser de {{ form.get('fecha_nac_novia')?.getError('edadMinima').requiredAge }} años.
                        
                    </span>
                }
            </span>
        </section>
    </div>
</form>