.card{
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box; /* Añade esto */
    margin: 0 auto; /* Centra la card */


}
.motivo{
    color: rgb(224, 1, 1);
}

.two-button{
    width:fit-content
}

.filebutton{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}