
hr{
    margin-block: 10px;
    height: 3px;
    background-color: var(--color-lines);
    border: none;
}

h2{
    color: var(--color-principal);
    margin-bottom: 10px;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.form{
    display: grid;
    
    
    gap: 20px;
    margin-bottom: 30px;
}

.form{
    padding:1rem;
}


.Campo{
    display: flex;
    flex-direction:column;
    gap: 5px;
}

.buttons{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
}


