<div class="All-container">
  <div class="calendar-container">
    <div class="btn-group flex">
      <button class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="PrevNextMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2>{{ viewDate | date: 'MMMM yyyy' }}</h2>
      <button class="btn" mwlCalendarToday [(viewDate)]="viewDate" (click)="PrevNextMonth()"> 
        Hoy
      </button>
      <button class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="PrevNextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="(events$ | async) || []"  [locale]="'es'" 
      (eventClicked)="handleEvent($event.event)" (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>

  <div class="Events flex-column">
    <div class="SearchFilters"> 
        <div class="contenedor-search flex">
          <mat-icon class="icon-search">search</mat-icon>
          <input type="search" placeholder="Buscar..." class="input-search" />
        </div>
    </div>

  <div class="contenedor-search flex">
    <mat-icon class="icon-search">event</mat-icon>
    <input type="date" placeholder="Filtrar por fecha..." class="input-search input-date" />
    
      <button class="clear-btn" >
        <mat-icon>close</mat-icon>
      </button>
    
  </div>

    <div class="EventList flex-column">
      @let events = (dayevents$ | async);
      @if (events && events.length > 0) {
        @for (e of events; track $index) {
          <app-card-adminevents [eventObj]="e"></app-card-adminevents>
        }
      } @else {
        <p>No hay eventos para mostrar</p>
      }
    </div>
  </div>
</div>
