svg{
    width: 40px;
    height: 40px;
}

hr{
    margin-block: 10px;
    height: 3px;
    background-color: var(--color-lines);
    border: none;
}

.contenedor{
    padding-inline: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

calendar-month {
    --color-accent: var(--color-principal-button);
    --color-text-on-accent: #ffffff;
    &::part(button) {
        border-radius: 5px;  
        font-size: 19px;
        transition: .5s;
        padding-block: 2px;
    }
}

calendar-date {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 8px grey;
    &::part(button) {
        border-radius: 5px;  /* ejemplo: 8px de radio */
        background-color: #ffffff;
        color:var(--color-principal-button);
        border:2px solid var(--color-principal-button)
    }
    &::part(button):hover {
        background-color: var(--color-secondbutton-hover);
        transition: .5s;
    }

    &::part(button):active{
        box-shadow: 1px 3px 4px grey;
    }
}


calendar-date::part(header){
    font-size: 22px;
}

calendar-month::part(day){
    font-size: 19px;
}
calendar-month::part(day){
    margin-block: 5px;
}

calendar-month::part(heading){
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}



.calendary{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.calendary calendar-date{
    width: 370px;
    height: 85%;
}

calendar-month{
    min-width: 370px;
    height: 350px;
    margin-bottom: 10px;
}



.grid{
    width: 100%;
    
}

.form{
    gap: 5px;
    font-size: 17px;
    align-items: center;
    margin-top: 20px;
}

.Campo{
    
    gap: 10px;
    margin-block: 10px;
    
}

#hora{
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
    padding: 8px 30px 8px 12px; 
        
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.buttons{
    
    gap: 20px;
    display: flex;
    justify-content: center;
}

.Input{
    width: 300px;
    
}

@media (max-width: 1100px){
    .form{
        align-items:end;
    }

    .Input{
        width: 250px;
    }
    .Campo{
        gap: 10px;
        margin-block: 10px;
    }
}

@media (max-width: 980px){
    
    .contenedor{
        display: flex;
        flex-direction:column-reverse;
        gap: 10px;
        padding-bottom: 50px;
    }
    
    .form.flex-column{
        flex-direction: row;
        
        justify-content: center;
    }
}

@media (max-width: 720px){
    .form.flex-column{
        flex-direction: column;
        align-items: center;
        margin:0;
    }


    calendar-month {
        &::part(button) {
            padding-block: none;
        }
    }

    .contenedor{
        padding-inline: 1.5rem;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }

        
    calendar-date::part(header){
        font-size: 19px;
        margin-bottom: 10PX;
    }

    calendar-month::part(day){
        font-size: 17px;
    }
    calendar-month::part(day){
        margin-block: 5px;
    }

    calendar-month::part(heading){
        font-weight: 700;
        font-size: 19px;
        margin-bottom: 10px;
    }

    calendar-month{
        min-width: 300px;
        height: 300px;
    }

    .calendary calendar-date{
        width: 300px;
        height: 85%;
    }
}

@media (max-width:620px){
    .buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 450px){
        
    calendar-date::part(header){
        font-size: 17px;
    }

    calendar-month::part(day){
        font-size: 16px;
    }
    calendar-month::part(day){
        margin-block: 5px;
    }

    calendar-month::part(heading){
        font-weight: 700;
        font-size: 17px;
    }

    calendar-month{
        min-width: 250px;
        height: 300px;
    }

        
    calendar-date {
        padding: 10px;
        margin-bottom: 20PX;
    }
}


@media (max-width: 350px){
        
    calendar-month{
        min-width: 80px;   
    }

    calendar-month{
        min-width: 150px;
    }

     calendar-date::part(header){
        font-size: 15px;
    }

    calendar-month::part(day){
        font-size: 14px;
    }
    
    calendar-date {
        box-shadow: none;

    }
}