/* You can add global styles t this file, and also import other style files */
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




:root{
    --color-principal:#1D293D;
    --color-background:#F7F9FB;
    
    --color-option:#FFFF;
    --color-option-selected:#F8DF00;

    --color-principal-button:#4F46E5;
    --color-principalbutton-hover:#3f36ba;
    --color-principal-darker:#1B4A9A;
    --color-principalbutton-active:#15123E;
    --color-button-disabled:#4e46e5a3;
    --color-secondbutton-hover: #ECECEC;
    
    --color-lines:#E1E1E1;
    --color-lines2:#263A4C;

    --color-hover-options:#314158;
    --color-border-input:#B5B5B5;
    --color-background-search:#F3F5F4;
    --color-buttonletters-disable:#6F6F6F;
    --color-button-code:#252525;
    --size-header-options:15px;

    --second-blue-icon:#E8EAFF;
    --resume-content:#e9ecf1;
    --resume-border:#cfdcf1;
}

*{
    margin: 0;
    font-family:"Inter";
}


.Input{
    background-color: var(--color-background);
    border:2px solid var(--color-border-input);
    height: 2.5rem;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding-left:8px;
}



.Input.password{
    padding-right: 2.5rem;
}

input:disabled{
    background-color: #f0f0f0;
    cursor: not-allowed;
}


.eye{
    position: absolute;
    right: 10px;
    cursor:pointer;
    height: 1.5rem;
    width: 1.5rem;
    top: 20%;
}

.contenedor-eye,.contenedor-lupa{
    display: flex;
    align-items:start;
}


.contenedor-password{
    position: relative;
    display: inline-block;
    width: 100%;
}

.button,.two-button{
    font-weight: bold;
    border-radius: 5px;
    padding:15px;
    font-size: 18px;
    cursor: pointer;
}

.button{
    background-color: var(--color-principal-button);
    color: var(--color-background);
    border: 1px solid var(--color-principal-button);
    
}

.button:hover{
    background-color: var(--color-principalbutton-hover);
    transition: .4s;
}

.button:active{
    box-shadow: 1px 3px 4px grey;
}

.button:disabled{
    background-color: var(--color-button-disabled);
    border:none;
    cursor:default;
}

.two-button{
    color:var(--color-principal-button);
    background-color: var(--color-background);
    border:2px solid var(--color-principal-button)
}

.two-button:hover{
    background-color: var(--color-secondbutton-hover);
    transition: .5s;
}

.two-button:active{
    box-shadow: 1px 3px 4px grey;
    
}

.three-button{
    color:var(--color-principal-button);
    font-weight: bold;
    text-decoration: none;
}

.input-search{
    border:2px solid var(--color-border-input);
    border-radius: 5px;
    background-color: var(--color-background-search);
    height: 2.5rem;
    padding-left: 2rem;
    width: 100%;
}

.lupa{
    position: absolute;
    left:8px;
    cursor:pointer;
    height: 1.2rem;
    width: 1.2rem;
}

.contenedor-search{
    display: flex;
    
}


.contenedor-lupa {
    position: relative;      
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.hide{
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
